{
	email {$CADDY_EMAIL}
	on_demand_tls {
		ask http://waldi:8080/internal/caddy-ask
	}
}

{$WALDI_BASE_DOMAIN}, *.{$WALDI_BASE_DOMAIN} {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
	reverse_proxy waldi:8080 {
		header_up Host {host}
		header_up X-Forwarded-Proto {scheme}
		header_up X-Forwarded-Host {host}
	}
}

:443 {
	tls {
		on_demand
	}
	reverse_proxy waldi:8080 {
		header_up Host {host}
		header_up X-Forwarded-Proto https
		header_up X-Forwarded-Host {host}
	}
}

:80 {
	redir https://{host}{uri} permanent
}
